{% include "base_head.html" %}

{% include "header_menu.html" %}

<!-- Main body-->
<main>
    <h2>Кулинарный портал</h2>
    <div class="d-flex justify-content-between">
        <div class="col-3">
            <!-- Sidebar-->
            <div class="list-group">
                <a href="#!" class="list-group-item list-group-item-action">Первая кнопка</a>
                <a href="#!" class="list-group-item list-group-item-action">Вторая кнопка</a>
                <a href="#!" class="list-group-item list-group-item-action">Третья кнопка</a>
                <a href="#!" class="list-group-item list-group-item-action">Четвертая кнопка</a>
                <a href="#!" class="list-group-item list-group-item-action">Пятая кнопка</a>
                <a href="#!" class="list-group-item list-group-item-action">Шестая кнопка</a>
            </div>
        </div>
        <!-- Posts-->
        <div class="col-8">
            <!-- Post-->
            <div class="card text-center">
                <div class="card-header">Категория статьи</div>
                <div class="card-body"><h5 class="card-title">Заголовок статьи</h5>
                    <p class="card-text">Краткое описание</p><a href="#!" class="btn btn-primary">Перейти куда
                        нибудь</a></div>
                <div class="card-footer text-muted">Дата поста</div>
            </div>
            <!-- Post-->
            <div class="card text-center">
                <div class="card-header">Категория статьи</div>
                <div class="card-body"><h5 class="card-title">Заголовок статьи</h5>
                    <p class="card-text">Краткое описание</p><a href="#!" class="btn btn-primary">Перейти куда
                        нибудь</a></div>
                <div class="card-footer text-muted">Дата поста</div>
            </div>
            <!-- Post-->
            <div class="card text-center">
                <div class="card-header">Категория статьи</div>
                <div class="card-body"><h5 class="card-title">Заголовок статьи</h5>
                    <p class="card-text">Краткое описание</p><a href="#!" class="btn btn-primary">Перейти куда
                        нибудь</a></div>
                <div class="card-footer text-muted">Дата поста</div>
            </div>
            <!-- Post-->
            <div class="card text-center">
                <div class="card-header">Категория статьи</div>
                <div class="card-body"><h5 class="card-title">Заголовок статьи</h5>
                    <p class="card-text">Краткое описание</p><a href="#!" class="btn btn-primary">Перейти куда
                        нибудь</a></div>
                <div class="card-footer text-muted">Дата поста</div>
            </div>
        </div>
    </div>
</main>

{% include "footer_base.html" %}