<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg shadow-sm rounded px-3 border"
             data-bs-theme="light" id="main-navbar">
            <div class="container-fluid flex-wrap">

                <!-- Логотип -->
                <a class="navbar-brand d-flex align-items-center me-4" href="/">
                    <img src="/media/static/img/logo_clear.png" alt="Логотип" width="60" height="60"
                         class="me-2 rounded">
                    <span class="fw-bold fs-5 project-name">{{ project_name }}</span>
                </a>

                <!-- Бургер -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Контент навигации -->
                <div class="collapse navbar-collapse flex-grow-1" id="navbarContent">

                    <!-- Меню -->
                    {% include "components/_navbar_menu.html" %}

                    <!-- Поиск -->
                    <form class="d-flex me-3 mb-2 mb-lg-0" role="search" method="get" action="/search/">
                        <input name="q" class="form-control me-2" type="search" placeholder="🔍 Поиск игр..."
                               aria-label="Поиск">
                        <button class="btn btn-outline-primary" type="submit">Искать</button>
                    </form>

                    <!-- Тема -->
                    <button id="theme-toggle" class="btn btn-outline-secondary btn-sm me-3 mb-2 mb-lg-0"
                            title="Переключить тему">
                        <span id="theme-icon">🌙</span>
                    </button>

                    <!-- Профиль -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userMenu"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle me-1 fs-5"></i>
                                {% if request.user.is_authenticated %}
                                {{request.user.username}}
                                {% else %}
                                info
                                {% endif %}
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                {% for item in dropdown_menu %}
                                {% if item.title == "dropdown-divider" %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% else %}
                                {% if item.auth %}
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                                </li>
                                {% endif %}
                                {% else %}
                                {% if not request.user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </ul>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>